:root {
  --headercolor: #3c3a39;
  --maincolor: #1c1a19;
}

header {
  background-color: var(--headercolor);
  height: 60px;
  margin: 0;
}

.gen-header,
.social {
  flex-flow: row nowrap;
}

.gen-header {
  height: 60px;
  align-items: center;
  justify-content: space-between;
  padding: 0 30px;
}

.logo{
  height: 26px;
  width: 87px;;
}

.logo img{
  height: 26px;
  width: 87px;;
}

.boxi-icon {
  color: white;
  transform: scale(2);
  cursor: pointer;
}

.desktop-nav {
  display: none;
}

.mobile-nav-tog{
  position: absolute;
  display: block;
  height: 0;
  background-color: #3C3A39;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  padding: 10px;
  transition: all .5s ease-in-out;
  opacity: 0;
}

.active{
  height: 650px;
  opacity: 1;
}

.mobile-nav-tog li:not(:first-child){
  display: grid;
  place-items: start;
  border-bottom: 1px solid #6F6C6B;
  padding: 20px;
  clear: both;
}

.mobile-nav-tog .desktop-button{
  color: white;
  font: 700 32px/44px 'Inter', sans-serif;
  cursor: pointer;
}

.mobile-nav-tog .cancel-butt{
  float: right;
  display: block;
  margin-right: 20px;
  cursor: pointer;
}

main,
.middle,
.contact {
  padding: 120px 24px;
}

main {
  height: 590px;
  background-color: #1c1a19;
  background-image: url(/img/mobile-background.png);
  background-position: bottom -40px right 0;
  background-repeat: no-repeat;
}

.main-flex,
.cont-flex,
.proj-1,
.proj-1-2,
.about-1,
.about-know,
.contact-div,
.input-flex {
  flex-flow: column nowrap;
}

.main-flex,
.cont-flex {
  align-items: flex-start;
}

.cont-flex > h1,
.cont-flex > h4 {
  margin-bottom: 12px;
}

.cont-flex > h1 {
  color: #ff6b00;
}

.cont-flex > h4 {
  color: #fff5e1;
}

.cont-flex > p {
  color: #fff;
  margin-bottom: 22px;
}

.social {
  align-items: flex-start;
  justify-content: right;
}

button {
  background: transparent;
  border: none;
}

.soc-icon {
  color: #524c4a;
  transform: scale(2);
  margin: 0 21px;
}

.mid-title {
  margin-bottom: 80px;
}

.mid-title > h2 {
  text-align: center;
  width: fit-content;
  color: #1c1a19;
  margin: 10px 0;
  padding: 0 5px 48px 5px;
  border-bottom: 2px solid #212121;
}

.mid-project {
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  gap: 24px;
  grid-template-areas:
    "proj-1"
    "proj-2"
    "proj-3"
    "proj-4"
    "proj-5"
    "proj-6"
    "proj-7";
  box-sizing: border-box;
}

.proj-1 {
  grid-area: proj-1;
  gap: 12px;
}

.proj-1-1 {
  width: 100%;
  height: 300px;
  background-image: url(/img/ProjectMobile-1.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.proj-1-2 {
  gap: 12px;
}

.proj-skill > ul > li {
  padding: 10px 12px;
  display: inline-block;
  margin-right: 12px;
  border: solid 1px #8993a4;
}

.button-1 {
  background-color: #ff6b00;
  padding: 12px;
  width: 124px;
  height: 48px;
  color: #2e2e2e;
  text-align: center;
  font: 700 17px/24px 'Inter', sans-serif;
  cursor: pointer;
}

.button-1:hover {
  background-color: #fff5e1;
  border: 1px solid #8f3400;
  color: #8f3400;
  box-sizing: border-box;
}

.button-1:focus {
  background-color: #fff5e1;
  border: 1px solid #8f3400;
  color: #8f3400;
  box-sizing: border-box;
}

.button-1:active {
  background-color: #46413e;
  color: #f4f1f0;
}

.proj-com {
  position: relative;
  display: flex;
  flex-flow: column nowrap;
  gap: 12px;
  padding: 84px 16px 0 16px;
  min-height: 400px;
  color: white;
  background: linear-gradient(180.45deg, rgba(38, 38, 38, 0) 0.75%, rgba(38, 38, 38, 0.9) 61.94%), url(/img/proj-2.png) no-repeat;
  background-blend-mode: darken;
  background-size: cover;
  background-position: center;
}

.skill-com > ul > li,
.skill-com > h3,
.input,
.textarea {
  padding: 10px;
}

.skill-com > ul > li {
  display: block;
  font: 400 22px/43px 'Inter', sans-serif;
}

.skill-li > ul > li {
  background-color: rgba(255, 255, 255, 0.24);
}

.proj-2 {
  grid-area: proj-2;
}

.proj-3 {
  grid-area: proj-3;
}

.proj-4 {
  grid-area: proj-4;
}

.proj-5 {
  grid-area: proj-5;
}

.proj-6 {
  grid-area: proj-6;
}

.proj-7 {
  grid-area: proj-7;
}

.proj-com > .button-1 {
  position: absolute;
  width: 100%;
  bottom: 0;
  left: 0;
  margin-top: 10px;
}

.about {
  padding: 120px 0;
  background-color: #1c1a19;
}

.about-back {
  padding: 0 24px;
  background-image: url(/img/about-mobile-back.png);
  background-position: bottom 0 right 0;
  background-repeat: no-repeat;
}

.about-1 {
  gap: 24px;
  border-bottom: 2px solid white;
  padding-bottom: 210px;
}

.about-1 > h2 {
  font-size: 72px;
  color: #ff6b00;
}

.about-1 > p {
  color: white;
}

.about-1 > .button-1 {
  width: 161px;
}

.about-know {
  justify-content: center;
  color: white;
  margin-top: 140px;
}

.skill-com {
  text-align: center;
  color: white;
}

.skill-com > h3 {
  font: 700 32px/44px 'Inter', sans-serif;
  position: relative;
}

.lang > h3,
.frame > h3,
.skills > h3 {
  width: fit-content;
  padding: 5px 20px;
}

.lang > h3::before,
.frame > h3::before,
.skills > h3::before {
  content: " ";
  position: absolute;
  top: 50%;
  left: 0%;
  height: 18px;
  width: 18px;
  color: #ff6b00;
  background-color: #ff6b00;
  display: grid;
  place-items: center;
}

.lang > h3::before {
  transform: translate(-50%, -50%) rotate(45deg);
}

.frame > h3::before {
  transform: translate(-50%, -50%);
}

.skills > h3::before {
  border-radius: 50%;
  transform: translate(-50%, -50%);
}

.contact-div {
  margin: 0 auto;
  width: 100%;
}

.contact-p {
  font: 700 32px/44px 'Inter', sans-serif;
  text-align: center;
  margin-bottom: 60px;
}

.form {
  padding: 20px 0;
}

.input,
.textarea {
  font: 400 15px/24px 'Inter', sans-serif;
}

.input {
  display: block;
  border: none;
  border-bottom: 1px solid #dbd8d7;
  margin-bottom: 20px;
}

.textarea {
  display: block;
  width: 100%;
  margin-bottom: 10px;
  border: none;
  background-color: #fbf8f7;
}

.input:focus,
.textarea:focus {
  outline: none;
}

.footer {
  border-top: 1px solid #dfe1e6;
  padding: 20px;
}

.item-cent > .button-1 {
  width: 131px;
  margin-top: 24px;
}

.footer .soc-icon {
  color: #505f79;
}
