:root{
    --headercolor: #3C3A39;
    --maincolor: #1C1A19;
}

.header{
    background-color: var(--headercolor);
    width: 100%;
    height: 92px;
    margin: 0;
}
.header .nav{
    display: flex;
    flex-flow: row nowrap;
    align-items: baseline;
    justify-content: space-between;
}

.boxi-icon{
    color: white;
    transform: scale(2);
}
.leftfloat{
    margin: 50px 0 0 24px;
}
.rightfloat{
    margin-right: 36px;
}
.main{
    position: relative;
    width: 100%;
    height: 590px;
    padding: 120px 24px;
    background-color: #1C1A19;
    overflow: hidden;
}
.main-flex{
    display: flex;
    flex-flow: column nowrap;
    align-items: flex-start;
}
.main-flex>h1{
    color: #FF6B00;
    margin-bottom: 12px;
}
.main-flex>h4{
    color: #FFF5E1;
    margin-bottom: 12px;
}
.main-flex>p{
    color: #FFFFFF;
    margin-bottom: 22px;
}
.social{
    display: flex;
    flex-flow: row nowrap;
    align-items: flex-start;
    justify-content: right;
}
.soc-icon{
    color: #DBD8D7;
    transform: scale(2);
    margin: 0 21px;
}
.abs-back{
    position: absolute;
    top: 5px;
    right: -310px;
}
.abs-back img{
    transform: scale(0.5);
}
