/* Base styles */

:root {
  --headercolor: #3c3a39;
  --maincolor: #1c1a19;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-weight: normal;
  background-color: white;
  color: var(--maincolor);
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  line-height: 24px;
}

.group::after {
  clear: both;
  content: ".";
  display: block;
  height: 0;
  line-height: 0px;
  visibility: hidden;
}

h1 {
  font: 400 56px/64px 'Crete Round', serif;
  letter-spacing: 0.37px;
}

h2 {
  font: 400 40px/52px 'Crete Round', sans-serif;
}

h3 {
  font: 400 32px/44px 'Crete Round', sans-serif;
}

h4 {
  font: 700 24px/32px 'Roboto', sans-serif;
}

p {
  font: 400 16px/24px 'Poppins', sans-serif;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

.d-flex {
  display: flex;
}

.d-grid {
  display: grid;
}

.item-cent {
  display: grid;
  place-items: center;
}

.w-100-per {
  width: 100%;
}
